{% extends "basic/layout.html" %}

<!-- remove some blocks -->
{%- block sidebarlogo %}{%- endblock %}
{%- block relbar1 %}{%- endblock %}
{%- block relbar2 %}{%- endblock %}
{%- block sidebarrel %}{%- endblock %}
{%- block sidebartoc %}{%- endblock %}

{%- block extrahead %}
<!--[if lte IE 6]>
<link rel="stylesheet" href="{{ pathto('_static/ie6.css', 1) }}" type="text/css" media="screen" charset="utf-8" />
<![endif]-->
<style>
  a.bottomlinks:link {color: #4DC0EA; }
  a.bottomlinks:active {color: #4DC0EA; }
  a.bottomlinks:visited {color: #4DC0EA; }
  a.bottomlinks:hover {color: #4DC0EA; }
  
#navibar {
            clear: both; float: right; display: block; font-size: 1.8em; 
            line-height: 120%; margin: 0; padding:0 10px;
         }
         
#navibar ul { list-style: none; margin: 0; padding: 0; }
#navibar ul li { float: left; list-style-type: none; }

#navibar li a {
                    font-weight: bold; color: #ffffff; display: block;
                    line-height: 34px; padding: 0 15px; text-decoration: none;
                    text-shadow: #0e0e6c 0px 0px 2px; border-right: solid 1px #446aa8;
                    font-size: 13px; outline: none;
              }
                                  
#navibar ul { float: left; height: 35px;
              background: url("{{ pathto('_static/bg-tabs-highlight.png', 1) }}") repeat-x;
            }
  
</style>
{% endblock %}

{% block header %}
<table width=100% cellpadding=0
  <tr>
    <td>
      <a href="{{ pathto('pages/About') }}">
        <img class="logo" src="{{ pathto('_static/site_banner.png', 1) }}" alt="Logo"/>
      </a>
    </td>
  </tr>

  <tr>    
    <td valign='bottom'>
      <div id="navibar">
        <ul>
          <li><a href="{{ pathto('pages/About') }}">About</a></li>
          <li><a href="{{ pathto('pages/Testimonials') }}">Testimonials</a></li>
          <li><a href="{{ pathto('pages/Repos') }}">Repos</a></li>
          <li><a href="{{ pathto('pages/GettingStarted') }}">Getting Started</a></li>
          <li><a href="{{ pathto('pages/FAQs') }}">FAQs</a></li>
          <li><a href="{{ pathto('index') }}">Sitemap</a></li>
        </div>
    </td>
    
  </tr>
</table>
{% endblock %}

{%- block footer %}
<center>

<table cellpadding=55 cellspacing=0>
  <tr>
    <td valign=top>
      <div><font size=4><p><b>Quick Links</b></p></font></div>
      <div><li><a class='bottomlinks' href='{{ pathto('pages/About') }}'>About</a></li></div>
      <div><li><a class='bottomlinks' href='{{ pathto('index') }}'>Sitemap</a></li></div>
      <div><li><a class='bottomlinks' href='{{ pathto('pages/Repos') }}'>Repositories</a></li></div>
      <div><li><a class='bottomlinks' href='{{ pathto('pages/GettingStarted') }}'>Getting Started</a></li></div>
      <div><li><a class='bottomlinks' href='{{ pathto('pages/FAQs') }}'>FAQs</a></li></div>
    </td>
  
    <td valign=top>
      <div><font size=4><p><b>Contact</b></p></font></div>
      <div><li><a class='bottomlinks' href='http://launchpad.net/~ius-community'>Mailing list</a></li></div>
      <div><li><a class='bottomlinks' href='https://answers.launchpad.net/ius'>Question & Answer</a></li></div>
      <div><li><a class='bottomlinks' href='https://bugs.launchpad.net/ius'>Submit a Bug</a></li></div>
      <div><li><a class='bottomlinks' href='mailto:coredev@iuscommunity.org'>coredev@iuscommunity.org</a></li></div>
      <div><li><font color=grey>irc.freenode.net #iuscommunity</font></li></div>
    </td>
    
    <td>
      <p><a href='https://launchpad.net/ius'><img src="{{ pathto('_static/launchpad.png', 1) }}" /></a></p>
      <p><a href='http://twitter.com/iuscommunity'><img src="{{ pathto('_static/twitter.png', 1) }}" /></a></p>
    </td>
    
  </tr>
</table>

<table>
  <tr>
    <td><font color=grey size=2>Hosted by</font></td>
    <td>
      <a href="http://www.rackspacecloud.com">
        <img src="{{ pathto('_static/rackspace_cloud.png', 1) }}" alt="Rackspace Cloud" />
      </a>
    </td>
  </tr>
</table>
  
</center>
{%- endblock %}
